{% extends "posts/post_base.html" %}

{% block prepost %}

    <div class="col-md-4">
        {% if request.user.is_authenticated %}
            <div class="card text-bg-dark">
                <div class="card-header">Your Groups</div>
                <ul class="list-group list-group-flush">
                    {% for user_group in user_groups %}
                        <li class="list-group-item">
                            <a href="{% url 'groups:single' slug=user_group.slug %}" class="card-link">{{ user_group.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="card text-bg-dark">
            <div class="card-header">All groups</div>
            <ul class="list-group list-group-flush">
                {% for group in all_groups %}
                    <li class="list-group-item">
                        <a href="{% url 'groups:single' slug=group.slug %}" class="card-link">{{ group.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block post_content %}

    <div class="col-md-8">
        {% for post in post_list %}
            {% include "posts/_post.html" %}
        {% endfor %}
    </div>

{% endblock %}